.background {
  background-color: #0d121e;
}

.slide-left-div {
  width: 606px;
  height: 699px;
  background-color: #3498db;
  position: absolute;
  top: 0;
  left: 0%;
  transition: left 1s ease; /* Transition for smooth sliding */
}

.slide-left-animation {
  left: -50%; /* Slide to the left */
}

.slide-right-div {
  width: 606px;
  height: 699px;
  position: relative;
  top: 0;
  right: -50%;
  transition: right 1s ease;
}

.slide-right-animation {
  right: -100%;
}

.label {
  color: #ffffff;
}

.input {
  border-radius: 1000em;
  fill: rgba(58, 73, 128, 0.85);
  height: 24px;
}
